.app-wrapper {
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 90px 1fr;
  grid-template-columns: 2fr 15fr;
  width: 1920px;
  margin: 0 auto;
}
.app-wrapper-content {
  grid-area: c;
  background-color: aquamarine;
  height: 600px;
}
